/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #cac3c3;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d9e2ec;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(145, 141, 141);
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  overflow-y: scroll;
}
hr {
  padding-bottom: 0px;
}
h3 {
  margin-left: 20px;
}

/* body .mtab-tab-menu-component-container .mtab-ptabmenu-container .ui-tabmenu .ui-tabmenu-nav {
  scroll-behavior: smooth;
  display: flex;
  background-color: transparent;
  height: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0 1rem 0 2.5rem;
}

.ui-tabmenu .ui-tabmenu-nav {
  margin: 0;
  padding: 0.25em 0.5em 0 0.25em;
}

body .ui-widget-header {
  background-color: transparent;
  border-radius: 4px;
}

body .ui-widget-header {
  color: #fff;
  background-color: #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.ui-helper-clearfix {
  zoom: 1;
}
.ui-helper-reset {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 1.3;
  text-decoration: none;
  font-size: 100%;
  list-style: none;
}
.ui-widget, .ui-widget * {
  box-sizing: border-box;
}


ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
 */

.main2 {
  background-color: #ebe1e1;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

.sidebar {
  border-radius: 25px;
  border: 1px solid #99aabe;
  width: 200px;
  background-color: #e2dede;
  position: fixed;
  height: 85%;
  overflow: auto;
  margin-left: 10px;
  margin-bottom: 20px;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  /* background-color: #9fa3a2; */
  color: blue;
  font-size: large;
}

.sidebar a:hover:not(.active) {
  /* background-color: #555; */
  color: blue;
  font-size: large;
}

.rightside {
  border-radius: 25px;
  border: 1px solid #99aabe;
  width: 200px;
  background-color: #d9e2ec;

  height: 100px;
  overflow: auto;
  margin-left: 10px;
  float: right;

  display: flex;
  /* width: 3%; */
  /* height: 900px; */
  flex-direction: column;
  border-style: ridge;
  /* border-radius: 5px; */
  align-items: center;
}
/* .rightside a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
} */

/* .rightside a.active {
  background-color: #9fa3a2;
  color: blue;
  font-size: large;
}

.rightside a:hover:not(.active) {
  background-color: #555;
  color: blue;
} */

.content {
  margin-left: 220px;
  margin-bottom: 20px;
  padding-bottom: 16px;
  padding-top: 0px;
  position: relative;
  overflow: hidden;
  background-color: #e2dede;
  border-radius: 25px;
  overflow-y: scroll;
  height: 83%;
  margin-right: 80px;
  /* box-shadow: 0 2px 4px rgb(0 0 0 / 24%), 0 4px 8px rgb(0 0 0 / 12%); */
}

.navbar2 {
  /* width: 100%; */
  height: 50px;
  position: sticky;
  background-color: #f8f8f9;
  border: #555;
  overflow: auto;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  left: 0;
  right: 0;
  border-top-left-radius: 25px;
  padding-left: 0px;
  margin-right: 80px;
}

.inter {
  position: fixed;
  height: 50px;
  width: 84.3%;
  background-color: #d9e2ec;
  /* background-color: #e2dede; */
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: #555;
  margin-right: 80px;
  padding-top: 20px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.innernav {
  position: fixed;
  /* background-color: #7d8996; */
  border: #555;
  width: 80%;
  margin-left: 1240px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  float: right;
  margin-right: 80px;
}

.formdiv {
  padding: 25px;
  margin: 20px;
  height: 59%;
  /* border-radius: 25px; */
  align-items: center;
  box-shadow: 0px 2px 2px -2px rgba(0, 0, 0, 0.7);
  background-color: #f8f8f9;
}

.patient-photo-container .patient-image {
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  border: unset;
  box-shadow: 0 2px 4px rgb(0 0 0 / 24%), 0 4px 8px rgb(0 0 0 / 12%);
  align-items: center;
  margin: 20px;
  margin-left: 30px;
}

.formcontent {
  align-items: center;
}

.lab {
  align-content: center;
  padding: 10px;
}

.lab2 {
  align-content: center;
  margin-left: 50px;
}

.column {
  float: left;
  width: 33%;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }

  .column {
    /* float: left; */
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

.navbar {
  width: 100%;
  margin-bottom: 16px;
  position: sticky;
  background-color: #f8f8f9;
  border: #555;
  overflow: auto;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
}

.navbar a {
  float: left;
  padding: 10px;
  padding-bottom: 10px;
  color: rgb(59, 56, 56);
  text-decoration: none;
  font-size: 23px;
}

.navbar a:hover {
  /* background-color: #000; */
  color: blue;
}

.active {
  /* background-color: #9fa3a2; */
  color: blue;
}

.rightbar {
  float: right;
}

.searchbar {
  float: left;
  margin: 10px;
  border-radius: 20px;
  color: #0a0a0a;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 16px;
  width: 300px;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.ig.ig-inline.ig-label-left {
  padding: 0.3rem;
}

button {
  border-radius: 5px;
}
