*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

input , select ,hr{
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}
input:focus , input[type ="text"]:focus{
    border: 2px solid #5a5fe2;
    outline: none;
    
}

select:focus {
    border: 2px solid #5a5fe2;
}


.main-nav{
   
    /* text-decoration: none; */
    background-color:#ffffff;
    display: flex;
    flex-direction: row;
    /* padding-bottom: 10px; */
    border-bottom: 2px solid #e9eafb;
}

.nav-menu-left{
 padding:5px;
 width: 65%;

}

.nav-menu-left a{
    text-decoration: none;
    color: gray;
    font-size:x-large;
    padding: 5px;
    
}

.nav-menu-left a:hover{
    color:#5a5fe2;
}

.nav-menu-right{
    margin-left: 200px;
    
   
    padding:5px; 
}

.nav-menu-right a{
    text-decoration: none;
    color: gray;
    font-size:x-large;
    padding: 5px;
    
}

.nav-menu-right a:hover{
    color:#5a5fe2;
}

#patient-search{
    padding: 5px;
    display: inline-block;
}

#patient-search input{
    width: 200px;
    height: 30px;
    border-radius: 6rem;
}

.tabs{
    width: 100%;
    height:30px;
    border-bottom: 2px solid #e9eafb;
}

.main{
    background-color: #f6f6f6;
    height: calc(100vh - 67px);
    color: #486581;
   
}
/* .side-content{
    display:
} */

#patient-bar{
padding: 10px;
font-size: 20px;
background-color: transparent;
width: 10%;
display: inline-block;

}

.buttons{
    display: inline-block;
    margin-left:67.5%;
}
.buttons input:hover,
button:hover{
    cursor: pointer;
}

.buttons input,
span,
button{
    padding: 5px;
    margin:2px;
}

.buttons button{
    border-radius: 5px;
}

#save-btn{
    background-color: #5a5fe2;
    color: #f1f1f1;
}
.sideform{
    display:flex;
    background-color: #f6f6f6;
}


.sidebar{
    height: calc(100vh - 119px);
    /* display: inline-block; */
    width: 10%;
    display:inline-block;
    border: 1px solid #e0e0e0;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-left:10px;
    border-radius: 5px;
}
.sidebar .toggle{
    border: none;
    position:relative; 
    background-color: #f6f6f6;
    left: 90%; 
   
}

.toggle{
    font-size: medium;
    color: gray;
    font: bold;
}
.sidebar span:hover{
    cursor: pointer;
    color:#5a5fe2;
}
.sidebar-small{
    width: 1%;
}
.sidebar-small .toggle{
    border: none;
    position:relative; 
    left: -80%; 
    
    transform:rotate(180deg);

}
.sidebar a{
    text-decoration: none;
    display: block;
    margin: 5px;
    margin-left: 10px;
    padding: 5px;
    color: gray;
}

.sidebar a:hover{
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
    color: #5a5fe2;
    font-weight: bold;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #f8f8f9;
    border-radius: 2px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#d9e2ec;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background:#869bb3;
    border-radius: 2px;
  }

.asterick{
    color: red;
}

 .mainform{
    width: 85%;
    height: calc(100vh - 140px);
    margin:20px;
    padding:10px;
    overflow-y: scroll;
}
.mainform-large{
    width: 96%;
}
.form1{
    margin:10px;
    padding:5px;
    display:flex;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 5px;
    
}
.column{
    width:33.3%;
    padding:10px;
    justify-content: center;
}
#avatar{
    height: 100px;
    width: 100px;
    /* align-items: center; */
    border-radius: 15px;
    display: block;
    margin:auto;
}

#img-txt{
    text-align: center;
    margin: 4px;
   
}

.column label{
    display: inline-block;
    width: 150px;
    margin: 4px;
    text-align: right;
    font-size: medium;
}

.column input,select{
    width: 200px;
    padding-left: 15px;
    margin:4px;
    /* border-radius: 4px; */
    height: 30px;

}
#interpreter{
    height: 15px;
    width: 15px;
}

#selfpay{
    
    height: 15px;
    width: 15px;
}

#provider{
    height: 15px;
    width: 15px;
}

#prescription{
    height: 15px;
    width: 15px;
}

.form2{
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin:10px;
    margin-top: 30px;
    padding:10px;
   
    background-color: #ffffff;
}

.contact-header{
    display: flex;
}
#address-option{
    margin-left: 10px;
}

.address1{
    width: 100%;
    max-width: 100%;
    min-width: 45%;
    height:auto;
    
}

.address-container{
    display:flex;
    width: 100%;
    overflow-x:scroll;
    
}

.address-field-header h3{
    width: 95%;
    padding: 5px;
    display: inline-block;
}

.address-street input{
    display:block;
    margin:1%;
    width: 75%;
    height:30px;
}
.address-street label{
    display:block;
    margin:1%;
}

.address-rest{
    display: flex;
    margin: 1%;
}

.address-rest input{
    display:block;
    margin:3%;
    width: 80%;
    height:30px;
}
.address-rest label{
    display:block;
    margin:3%;
}



.address-rest select{
    display:block;
    margin:3%;
    width: 173px;
    height:30px;
}

#state {
    width: 162px;
}

#state select{
    width: 132px;
}
.phone h3{
    display: inline-block;
    margin: 1%;
}

.phone-header{
    display: flex;
    margin-left: 1%;
}

.type{
    margin:1%;
    width: 15%;
}
.code{
    margin:1%;
    width:10%;
}
.number{
    margin:1%;
    width: 50%;
}

.phone-inputs{
    display:flex;
}
.type-input{
    margin: 1%;
    width: 15%;
}

.code-input{
    margin: 1%;
    width: 10%;
}

.number-input{
    margin: 1%;
    width: 25%;
}

.fax h3{
    display: inline-block;
    margin: 1%;
}

.email h3{
    display:inline-block;
    margin: 1%;
}

.website h3{
    display: inline-block;
    margin: 1%;
}
.address1 fieldset{
    border:  1px solid #e0e0e0;
    height: 100%;
}

.form3{
    border-radius: 5px;
    margin:10px;
    margin-top: 30px;
    padding:10px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
}

table{
    width: 98%;
    border-collapse: collapse;
    margin: 1%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}


.form4{
    
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    margin:10px;
    margin-top: 30px;
    padding:10px;
    
    background-color: #ffffff;
}

.column-wrapper{
    display: flex;
    
}

.column-expandable{

    display: none;
}

.other-details-header h2{
    display: inline-block;
}

.other-details-header i{
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-size: large;
}

.other-toggle {
    cursor: pointer;
}