/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(190, 185, 185);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(166, 165, 165);
}


body {
  margin: 0;
  font-family: "Lato", sans-serif;
}
hr {
  padding-bottom: 0px;
}

.main2{
  background-color: #d9e2ec;
  position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    overflow:hidden;
}

.sidebar {
  border-radius: 25px;
  border: 1px solid #99aabe;
  width: 200px;
  background-color: #d9e2ec;
  position: fixed;
  height: 100%;
  overflow: auto;
  margin-left: 10px;
  
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  /* background-color: #9fa3a2; */
  color: blue;
  font-size: large;
}

.sidebar a:hover:not(.active) {
  /* background-color: #555; */
  color: blue;
}

.content {
  margin-left: 220px;
  margin-bottom: 20px;
  padding-bottom: 16px;
  padding-top: 0px;
  
  overflow: hidden;
  background-color: #ffffff;
  border-radius: 25px;
  overflow:scroll; 
  height:100%;
    
}

.navbar2{
  width: 100%;
  height: 50px;
  position:sticky;
  background-color: #d9e2ec;
  border: #555;
  overflow: auto;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  left: 0;
  right: 0;
  padding-left: 10px;
}


.formdiv {
  padding: 20px;
  height: 100%;
  border-radius: 25px;
}

.patient-photo-container .patient-image {
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  border: unset;
  box-shadow: 0 2px 4px rgb(0 0 0 / 24%), 0 4px 8px rgb(0 0 0 / 12%);
  align-items: center;
  margin: 20px;
  margin-left: 30px;
}

.formcontent {
  align-items: center;
}

.lab{
  align-content: center;
  padding: 10px;
}

.lab2{
  align-content: center;
  margin-left: 50px;
}

.column
{
    float: left;
    width: 33%;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



.navbar {
  width: 100%;
  margin-bottom: 16px;
  position:sticky;
  background-color: #d9e2ec;
  border: #555;
  overflow: auto;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
}


.navbar a {
  float: left;
  padding: 10px;
  padding-bottom: 10px;
  color: rgb(59, 56, 56);
  text-decoration: none;
  font-size: 23px;
}

.navbar a:hover {
  /* background-color: #000; */
  color: blue;
}

.active {
  /* background-color: #9fa3a2; */
  color: blue;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.ig.ig-inline.ig-label-left {
  padding: .3rem;
}

