
body {
  margin: 0;
  font-family: "Lato", sans-serif;
}

.sidebar {
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #9fa3a2;
  color: blue;
  font-size: large;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}



.navbar {
  width: 100%;
  /* background-color: rgb(214, 208, 208); */
  border: #555;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  padding-bottom: 0px;
  color: rgb(59, 56, 56);
  text-decoration: none;
  font-size: 27px;
}

.navbar a:hover {
  /* background-color: #000; */
  color: blue;
}

.active {
  /* background-color: #9fa3a2; */
  color: blue;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}